<div class="row">

  <div class="col s3">
    <!-- Grey navigation panel -->
    <p>
      <a href="#" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Service1</a>
    </p>
    <p>
      <a href="#" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Service2</a>
    </p>
    <p>
      <a href="#" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Service3</a>
    </p>
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
    <app-service-card></app-service-card>
  </div>
</div>