<div class="container-fluid text-center details">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Service1</a></p>
      <p><a href="#">Service2</a></p>
      <p><a href="#">Service3</a></p>
    </div>
    <div class="col-sm-10 text-left">
      <div class="service-cards">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Bootstrap Thumbnail Customization</h3>
              <p class="card-description"><strong>Bootstrap Thumbnail</strong> Customization Example. Here are customized <strong>bootstrap cards</strong>.
                We just apply some box shadow and remove border radius.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>