<md-card class="example-card">
  <md-card-header style="width: 100%">
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{backend_service.name}}</md-card-title>
    <md-card-subtitle>{{expanded}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image>
  <md-card-content>
    <p>
      {{backend_service.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Start</button>
    <button md-button>Stop</button>
    <button md-button>Restart</button>
    <button md-raised-button (click)="expand()">Expand</button>
  </md-card-actions>
</md-card>
