<div>
  <div>

    <div>
      <md-toolbar>
        <button md-button (click)="onClick" style="background:lightskyblue; margin: 2px">Select Profile</button>
        <button md-button (click)="onClick" style="background:lightskyblue; margin: 2px">Start All</button>
        <button md-button (click)="onClick" style="background:lightskyblue; margin: 2px">Edit Profile</button>
      </md-toolbar>
    </div>

    <div class="col s12">
      <!-- Teal page content  -->
      <app-service-dashboard bind-backend_services="backend_services"></app-service-dashboard>
    </div>
  </div>
  <div>
