<div>
  <div>

    <div>
      <md-toolbar>
        <button md-button (click)="onClick" style="background:lightskyblue">Select Profile</button>
        <span style="margin: 2px"></span>
        <button md-button (click)="onClick" style="background:lightskyblue; color:black">Start All</button>
        <!-- This fills the remaining space of the current row -->
        <span style="margin: 2px"></span>
        <button md-button (click)="onClick" style="background:lightskyblue; color:black">Edit Profile</button>
      </md-toolbar>
    </div>

    <div class="col s12">
      <!-- Teal page content  -->
      <app-service-dashboard bind-backend_services="backend_services"></app-service-dashboard>
    </div>
  </div>
  <div>
